{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue à la médiatheque</h1>




<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nihil, ut eveniet, tenetur dolore tempora maiores quo vel dignissimos ullam quisquam cupiditate aliquid beatae quasi voluptatem obcaecati at eum in blanditiis magni quae exercitationem quam sed? Pariatur voluptates rem ipsa.</p>

<p>Consequuntur iusto molestias officiis enim consequatur voluptate amet alias, nisi omnis animi dignissimos. Iusto, fuga. Quos eius inventore, quisquam officiis, aperiam sapiente excepturi unde amet placeat porro dolores rerum dolore aliquid. Eveniet, eius ducimus. Facere nulla inventore rem et excepturi!</p>

{% endblock %}
